{erl_opts, [debug_info]}.
{deps, [
         {gproc, ".*", {git, "git://github.com/uwiger/gproc", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [endat]}
]}.

{plugins, [pc]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_env, [{"CFLAGS", "$CFLAGS -g -Wall -Werror"}]}.
{port_specs, [
  {"priv/endat_crc.so", ["c_src/endat_crc.c", "c_src/endat_nif.c"]},
  {"priv/endat", ["c_src/endat_driver.c", "c_src/erl_comm.c", "c_src/erl_port.c", "c_src/endat_crc.c"]}
]}.


